{{# partial "content" }}
  <h1>This is the blog page!</h1>

  <p>There are {{post_count}} posts for your viewing pleasure!</p>
  {{#each posts}}
    <hr>
    <h2>{{title}}</h2>
    <em>By {{author}}</em>
    <em>{{date}}</em>
    <p>{{summary}}</p>
  {{/each}}
{{/partial}}

{{> main}}
