{{# partial "content" }}
  <h1>This is the blog page!</h1>

  <p class="info">{{info}}</p>
  <p>There are {{post_count}} posts for your viewing pleasure!</p>
  {{#each posts}}
    <hr>
    <a href="/blog/{{path}}">
      <h2>{{title}}</h2>
      <em>By {{author}}</em>
      <em>{{date}}</em>
      <p>{{summary}}</p>
    </a>
  {{/each}}
{{/partial}}

{{> main}}
