{{# partial "content" }}
  <p class="info">{{info}}</p>
  {{#each posts}}
    <a href="/blog/{{path}}" class="post-listing">
      <h1>{{title}}</h1>
      <em class="date">{{date}}</em>
      <p>{{summary}}</p>
    </a>
  {{/each}}
{{/partial}}

{{> body}}
