{{# partial content }}
  <article>
    <div class="post-container">
      <div class="post">
        <h1 class="title">{{title}}</h1>
        <h2 class="date">{{created}}</h2>
        <ul class="tags">
          {{#each tags}}
            <li>
              <a href="/blog?tag={{this}}">#{{this}}</li></a>
          {{/each}}
        </ul>
        {{{body}}}
      </div>
    </div>
  </article>
  <script src="/app/js/prism.js"></script>
{{/partial}}

{{> body}}
