{{# partial "content" }}
  <p class="info">{{info}}</p>
  <!-- <p> Check back soon!</p> -->
  {{#each posts}}
    <a href="/blog/{{path}}" class="post-listing">
      <h2>{{title}}</h2>
      <em class="date">{{date}}</em>
      <p>{{summary}}</p>
    </a>
  {{/each}}
{{/partial}}

{{> body}}
